<form nz-form [formGroup]="form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzRequired>映射名称</nz-form-label>
    <nz-form-control nzErrorTip="请输入映射名称">
      <input nz-input formControlName="name" placeholder="例如 postgres" />
    </nz-form-control>
  </nz-form-item>

  <div class="form-grid">
    <nz-form-item>
      <nz-form-label>访问域名</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="publicHost"
          placeholder="例如 postgres.tcpd.navfirst.com"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>公网端口</nz-form-label>
      <nz-form-control nzErrorTip="请输入 1-65535 的端口，或留空自动分配">
        <nz-input-number
          formControlName="publicPort"
          [nzMin]="publicPortMin()"
          [nzMax]="publicPortMax()"
          nzPlaceHolder="自动分配"
          class="w-100"
        />
        <div class="field-note">{{ publicPortHint() }}</div>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="form-grid">
    <nz-form-item>
      <nz-form-label nzRequired>目标主机</nz-form-label>
      <nz-form-control nzErrorTip="请输入目标主机">
        <input nz-input formControlName="targetHost" placeholder="127.0.0.1" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>目标端口</nz-form-label>
      <nz-form-control nzErrorTip="请输入 1-65535 的端口">
        <nz-input-number formControlName="targetPort" [nzMin]="1" [nzMax]="65535" class="w-100" />
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-label>备注</nz-form-label>
    <nz-form-control>
      <input
        nz-input
        formControlName="remark"
        placeholder="例如 PostgreSQL、Redis 或现场协议服务"
      />
    </nz-form-control>
  </nz-form-item>
</form>
