.domain-token {
  display: inline-block;
  overflow: hidden;
  max-width: 320px;
  padding: 2px 8px;
  border-radius: 6px;
  color: #405165;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  background: #f1f5f4;
}

.w-100 {
  width: 100%;
}
